.navbar-brand{
  margin-left: 1rem;
}

.big-image {
  height: 100vh;
  width: auto;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/assets/img/usrl_hero_1.jpg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  color:white;
}

.overlay p {
  margin: 0;
  font-size: 28px;
  color:white;
}