
html[data-theme="dark"]
 {
  
  #navbar > div > a:nth-child(1) > img
  {
    content:url("/assets/img/usrl/usrl_logo_negative.png");

  }

  div.container.mt-5 > section > div > div > div > div > div.row.no-gutters.mb-5 > div.row.mx-0.justify-content-center > form
  {
    background: var(--global-bg-color) !important;
    border:0px !important;
  }

  body > footer > div
  {
    a:hover
      {
        color:white;  
      }
  }

}

html[data-theme="light"]
 {

    body > footer>div
    {
      a:hover
        {
          color:white;  
        }
    }

 }

.navbar-brand{
  margin-left: 1rem;
}

.mt-5{
  padding-bottom: 5rem;
}

.grid-sizer,.grid-item {
    width: 200px !important;
  }

.card-body
{
  text-align:center;
}

.card {
    img {
      width: 100% !important;
    }
  }

.card-title{
  font-size:25px;
}

footer>div>img
{
  margin-bottom: 0.3rem;
  max-width:175px;
}


div.row.no-gutters.mb-5
{
  justify-content: center;

  .row.mx-0.justify-content-center
  {
    flex-grow:0.7;
  }

}

div.row.no-gutters.mb-5 > div.row.mx-0.justify-content-center > form
{
  height:100%;
}

div.row.no-gutters.mb-5 > div.row.mx-0.justify-content-center > form > div > button
{
  background:var(--global-theme-color) !important;
  border-color:var(--global-theme-color) !important;
}

.big-image {
  height: 90vh;
  width: auto;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: images;
  animation-duration: 30s;
  animation-direction: normal;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  overflow: hidden;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  color:white;
}

.overlay p {
  margin: 0;
  font-size: 28px;
  color:white;
}

@keyframes images{
   0%{
     background-image: url(/assets/img/3.jpg);
   }
   30%{
     background-image: url(/assets/img/4.jpg);
   }
   60%{
     background-image: url(/assets/img/5.jpg);
   }
   90%{
     background-image: url(/assets/img/6.jpg);
   }
   100%{
     background-image: url(/assets/img/3.jpg);
   }
}