<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
    <link rel="stylesheet" href="/assets/css/usrl_style.css">

    <title>Contact Form 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/contact_form/css/style.css">


  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-map-marker"></span>
                  </div>
                  <div class="text">
                    <p>1000 Catawba St, Suite 155 Columbia, SC, 29201 </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-phone"></span>
                  </div>
                  <div class="text">
                    <p><a href="tel://+18037779754">(+1) 803-777-9754</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-envelope"></span>
                  </div>
                  <div class="text">
                    <p><a href="mailto:vitzilaios@sc.edu">vitzilaios@sc.edu</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dbox w-100 text-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-globe"></span>
                  </div>
                  <div class="text">
                    <p><a href="https:\\www.usrl.sc.edu">usrl.sc.edu</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-5 d-flex align-items-stretch">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13232.758250482413!2d-81.0307321!3d33.9876644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8bad8bc4dc501%3A0x159adc0036f35678!2sMcNAIR%20Aerospace%20Center!5e0!3m2!1sen!2sus!4v1710277303749!5m2!1sen!2sus" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="row">

              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/assets/contact_form/js/jquery.min.js"></script>
  <script src="/assets/contact_form/js/popper.js"></script>
  <script src="/assets/contact_form/js/bootstrap.min.js"></script>
  <script src="/assets/contact_form/js/jquery.validate.min.js"></script>
  <script src="/assets/contact_form/js/main.js"></script>




    <!-- Header -->
    {% include header.liquid %}


    <!-- Footer -->
    {% include usrl_footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
  </body>
</html>
