<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
    <link rel="stylesheet" href="/assets/css/usrl_style.css">


    <link rel="preload" href="/assets/img/usrl_hero_1.jpg" as="image" />
    <link rel="preload" href="/assets/img/4.jpg" as="image" />
    <link rel="preload" href="/assets/img/5.jpg" as="image" />
    <link rel="preload" href="/assets/img/6.jpg" as="image" />

  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <div class="big-image">
      <div class="overlay">
        <h1><span style="color: var(--global-theme-color)">U</span>nmanned <span style="color: var(--global-theme-color)">S</span>ystems and <span style="color: var(--global-theme-color)">R</span>obotics <span style="color: var(--global-theme-color)">L</span>aboratory </h1>
        <p>University of South Carolina</p>
      </div>
    </div>

    <!-- Footer -->
    {% include usrl_footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
  </body>
</html>
